body {
    margin: 0;
    background-image: url(Foto/sfondo.jpg);
}

header {
    width: 100%;
    height: 100px;
    background-color: white;
    position: sticky;
    top: 0;
}

.logo {
    width: 100px;
    border-radius: 100%;
    position: fixed;
}

ul {
    list-style-type: none;
    margin: 0;
    margin-left: 100px;
    padding: 0;
    padding-right: 15px;
    overflow: hidden;

    height: 100px;
    align-content: center;
}
ul li {
    float: right;
    padding: 15px;
}
ul li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
    font-size: 22px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

ul li a:hover{
    text-decoration: underline;
    text-decoration-color: lightblue;
    
}

.titolo{
    text-align: center;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.titolo h1{
    font-size: 100px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    text-align: center;

    margin: 0;
    margin-top: 50px;
}

.titolo h3{
    font-size: 25px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
    text-align: center;

    margin: 0;
    margin-top: 15px;
}

.pagine{
    width: 90%;
    height: 500px;
    opacity: 75%;
    border-radius: 50px;
    margin-top: 30px;
    
    
    justify-items: center;
    justify-self: center;
    align-items: center;
    background-color: aliceblue;
}

/* style per pagina informazioni*/

.pagINFO{
    width: 90%;
    height: 500px;
    opacity: 75%;
    border-radius: 50px;
    margin-top: 30px;
    padding-top: 5px;
    
    justify-items: left;
    display: flexbox;
    justify-self: center;
    align-items: center;
    background-color: aliceblue;

}

.pagINFO p{
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 15px;
    margin-bottom: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

.pagINFO h3{
    text-align: left;
    margin-left: 20px;
    margin-top: 25px;
    margin-bottom: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
}

.pagContatti{
    width: 90%;
    height: 500px;
    opacity: 75%;
    border-radius: 50px;
    margin-top: 30px;
    padding-top: 5px;
    
    justify-items: left;
    display: flexbox;
    justify-self: center;
    align-items: center;
    background-color: aliceblue;

}

.pagContatti p{
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 15px;
    margin-bottom: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

.pagContatti h3{
    text-align: left;
    margin-left: 20px;
    margin-top: 25px;
    margin-bottom: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
}